## Analyzing borrowers’ risk of defaulting

Your project is to prepare a report for a bank’s loan division. You’ll need to find out if a customer’s marital status and number of children has an impact on whether they will default on a loan. The bank already has some data on customers’ credit worthiness.

Your report will be considered when building a **credit scoring** of a potential customer. A ** credit scoring ** is used to evaluate the ability of a potential borrower to repay their loan.

### Step 1. Open the data file and have a look at the general information.

In [1]:
import pandas as pd
df = pd.read_csv('credit_scoring_eng.csv')
print(df.head())
print(df.tail())
print(df.info())
print(df.describe())

   children  days_employed  dob_years            education  education_id  \
0         1   -8437.673028         42    bachelor's degree             0
1         1   -4024.803754         36  secondary education             1
2         0   -5623.422610         33  Secondary Education             1
3         3   -4124.747207         32  secondary education             1
4         0  340266.072047         53  secondary education             1

       family_status  family_status_id gender income_type  debt  total_income  \
0            married                 0      F    employee     0     40620.102
1            married                 0      F    employee     0     17932.802
2            married                 0      M    employee     0     23341.752
3            married                 0      M    employee     0     42820.568
4  civil partnership                 1      F     retiree     0     25378.572

                   purpose
0    purchase of the house
1             car purchase
2    purchase of the house
3  supplementary education
4        to have a wedding
       children  days_employed  dob_years            education  education_id  \
21520         1   -4529.316663         43  secondary education             1
21521         0  343937.404131         67  secondary education             1
21522         1   -2113.346888         38  secondary education             1
21523         3   -3112.481705         38  secondary education             1
21524         2   -1984.507589         40  secondary education             1

           family_status  family_status_id gender income_type  debt  \
21520  civil partnership                 1      F    business     0
21521            married                 0      F     retiree     0
21522  civil partnership                 1      M    employee     1
21523            married                 0      M    employee     1
21524            married                 0      F    employee     0

       total_income               purpose
21520     35966.698  housing transactions
21521     24959.969     purchase of a car
21522     14347.610              property
21523     39054.888     buying my own car
21524     13127.587          to buy a car
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB
None
           children  days_employed     dob_years  education_id  \
count  21525.000000   19351.000000  21525.000000  21525.000000
mean       0.538908   63046.497661     43.293380      0.817236
std        1.381587  140827.311974     12.574584      0.548138
min       -1.000000  -18388.949901      0.000000      0.000000
25%        0.000000   -2747.423625     33.000000      1.000000
50%        0.000000   -1203.369529     42.000000      1.000000
75%        1.000000    -291.095954     53.000000      1.000000
max       20.000000  401755.400475     75.000000      4.000000

       family_status_id          debt   total_income
count      21525.000000  21525.000000   19351.000000
mean           0.972544      0.080883   26787.568355
std            1.420324      0.272661   16475.450632
min            0.000000      0.000000    3306.762000
25%            0.000000      0.000000   16488.504500
50%            0.000000      0.000000   23202.870000
75%            1.000000      0.000000   32549.611000
max            4.000000      1.000000  362496.645000

### Conclusion

After examine the general information I realized that in order to answer the main project questions I need only 5 columns: 'children', 'family_status_id', 'total_income', 'purpose' and 'debt'.
The next step is to check this columns for missing values:

### Step 2. Data preprocessing

### Processing missing values

In [2]:
print(df[df['children'].isnull()].count())
print(df[df['total_income'].isnull()].count())
print(df[df['family_status'].isna()].count())
print(df[df['purpose'].isna()].count())
print(df[df['debt'].isnull()].count())
print(df.loc[df['children'] == -1].count()) # this values don't make sense
print(df.loc[df['children'] == 20].count()) # this values don't make sense

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64
children            2174
days_employed          0
dob_years           2174
education           2174
education_id        2174
family_status       2174
family_status_id    2174
gender              2174
income_type         2174
debt                2174
total_income           0
purpose             2174
dtype: int64
children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64
children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64
children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64
children            47
days_employed       44
dob_years           47
education           47
education_id        47
family_status       47
family_status_id    47
gender              47
income_type         47
debt                47
total_income        44
purpose             47
dtype: int64
children            76
days_employed       67
dob_years           76
education           76
education_id        76
family_status       76
family_status_id    76
gender              76
income_type         76
debt                76
total_income        67
purpose             76
dtype: int64

There is approximately 10% of missing values in 'total_income' column (2174/21525*100 = 10.09%) 
and less than 1% of "non sense" values in children column, which is pretty low and deleting these rows wouldn't really affect the results. 
I decided to get rid of "non sense" values and replace the missing 'total_income' values with median income, which is more represent the real common income on market.

### Data type replacement

In [3]:
median = df['total_income'].median()
print(median)
df['total_income'] = df['total_income'].fillna(value = median)
# I exclude all the rows with -1, 20 values from the data:
Not = pd.Series([-1, 20])
df = df.loc[~df['children'].isin(Not)]
# checking the results:
print(df.describe()) 
print(df[df['total_income'].isnull()].count())

23202.87
           children  days_employed     dob_years  education_id  \
count  21402.000000   19240.000000  21402.000000  21402.000000
mean       0.473180   63159.820777     43.300206      0.817120
std        0.751837  140928.943329     12.579055      0.548741
min        0.000000  -18388.949901      0.000000      0.000000
25%        0.000000   -2747.235601     33.000000      1.000000
50%        0.000000   -1203.934202     42.000000      1.000000
75%        1.000000    -289.740178     53.000000      1.000000
max        5.000000  401755.400475     75.000000      4.000000

       family_status_id          debt   total_income
count      21402.000000  21402.000000   21402.000000
mean           0.973133      0.080927   26429.257048
std            1.420536      0.272729   15678.706707
min            0.000000      0.000000    3306.762000
25%            0.000000      0.000000   17234.608500
50%            0.000000      0.000000   23202.870000
75%            1.000000      0.000000   31291.621750
max            4.000000      1.000000  362496.645000
children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

The data is ready for next step

### Processing duplicates

In [4]:
dup_befor = df.duplicated().sum() 
print('Number of duplicates before changing upper to lower cases:', dup_befor)
df.info()
# I check all the colums wich are object type for upper and lower cases and what are the column values:
print(df['education'].value_counts())
print(df['family_status'].value_counts())
print(df['gender'].value_counts())
print(df['income_type'].value_counts())
print(df['purpose'].value_counts())

# There is only one colomn detected with upper and lower cases and it's 'education'
df['education'] = df['education'].str.lower()
dup_after = df.duplicated().sum()
print('Number of duplicates after changing upper to lower cases:', dup_after)
df = df.drop_duplicates().reset_index(drop=True)
dup_after_drop = df.duplicated().sum()
print('Number of duplicates after dropping:', dup_after_drop)
print(df['purpose'].value_counts())

from nltk.stem import SnowballStemmer 
english_stemmer = SnowballStemmer('english')

# I crate a list of words that I wont to know the stemm of :

words = ['property', 'university', 'education', 'car']

for word in words:
    print('Source word - {}, after stemming - {}'.format(word, english_stemmer.stem(word)))
    
# I unite all the stemmed_word by topic:
    
for row in df['purpose']:
    for word in row.split(' '):
        stemmed_word = english_stemmer.stem(word)
        if stemmed_word == 'wed':
            df.loc[df['purpose'] == row, 'purpose'] = 'wedding'

            
for row in df['purpose']:
    for word in row.split(' '):
        stemmed_word = english_stemmer.stem(word)
        if stemmed_word == 'rent' or stemmed_word == 'transact' or stemmed_word == 'hous' or stemmed_word == 'real' or stemmed_word == 'properti':
            df.loc[df['purpose'] == row, 'purpose'] = 'real estate'
            
for row in df['purpose']:
    for word in row.split(' '):
        stemmed_word = english_stemmer.stem(word)
        if stemmed_word == 'car':
            df.loc[df['purpose'] == row, 'purpose'] = 'own a car' 

            
for row in df['purpose']:
    for word in row.split(' '):
        stemmed_word = english_stemmer.stem(word)
        if stemmed_word == 'educ' or stemmed_word == 'univers':
            df.loc[df['purpose'] == row, 'purpose'] = 'education'             
                       
            
dup_after_cat = df.duplicated().sum() # checking for new duplicates after categorizing
print('Number of duplicates after categorizing:', dup_after_cat)            
print(df['purpose'].value_counts())
df = df.drop_duplicates().reset_index(drop=True) # getting rid of the duplicates
final_dup_num = df.duplicated().sum() # final cheking
print('The final num of duplicates after categorising and droping:', final_dup_num)

Number of duplicates before changing upper to lower cases: 54
<class 'pandas.core.frame.DataFrame'>
Int64Index: 21402 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21402 non-null  int64
 1   days_employed     19240 non-null  float64
 2   dob_years         21402 non-null  int64
 3   education         21402 non-null  object
 4   education_id      21402 non-null  int64
 5   family_status     21402 non-null  object
 6   family_status_id  21402 non-null  int64
 7   gender            21402 non-null  object
 8   income_type       21402 non-null  object
 9   debt              21402 non-null  int64
 10  total_income      21402 non-null  float64
 11  purpose           21402 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.1+ MB
secondary education    13667
bachelor's degree       4698
SECONDARY EDUCATION      766
Secondary Education      703
some college             665
BACHELOR'S DEGREE        271
Bachelor's Degree        268
primary education        250
Some College              47
SOME COLLEGE              29
PRIMARY EDUCATION         17
Primary Education         15
graduate degree            4
GRADUATE DEGREE            1
Graduate Degree            1
Name: education, dtype: int64
married              12302
civil partnership     4160
unmarried             2799
divorced              1189
widow / widower        952
Name: family_status, dtype: int64
F      14154
M       7247
XNA        1
Name: gender, dtype: int64
employee                       11050
business                        5054
retiree                         3839
civil servant                   1453
entrepreneur                       2
unemployed                         2
student                            1
paternity / maternity leave        1
Name: income_type, dtype: int64
wedding ceremony                            796
having a wedding                            772
to have a wedding                           769
real estate transactions                    673
buy commercial real estate                  661
buying property for renting out             651
housing transactions                        648
transactions with commercial real estate    646
housing                                     642
purchase of the house                       641
purchase of the house for my family         640
property                                    632
construction of own property                628
transactions with my real estate            626
building a real estate                      622
building a property                         620
buy real estate                             619
purchase of my own house                    619
housing renovation                          609
buy residential real estate                 603
buying my own car                           504
going to university                         496
car                                         492
second-hand car purchase                    484
cars                                        476
to own a car                                475
buying a second-hand car                    472
to buy a car                                470
car purchase                                460
supplementary education                     457
purchase of a car                           455
university education                        447
to get a supplementary education            445
education                                   442
getting an education                        441
profile education                           432
getting higher education                    425
to become educated                          412
Name: purpose, dtype: int64
Number of duplicates after changing upper to lower cases: 71
Number of duplicates after dropping: 0
wedding ceremony                            790
having a wedding                            763
to have a wedding                           760
real estate transactions                    672
buy commercial real estate                  658
buying property for renting out             649
housing transactions                        647
transactions with commercial real estate    645
housing                                     641
purchase of the house                       640
purchase of the house for my family         637
property                                    631
construction of own property                628
transactions with my real estate            623
building a real estate                      620
building a property                         619
purchase of my own house                    619
buy real estate                             616
housing renovation                          604
buy residential real estate                 602
buying my own car                           504
going to university                         496
car                                         491
second-hand car purchase                    481
cars                                        476
to own a car                                473
buying a second-hand car                    471
to buy a car                                469
car purchase                                459
supplementary education                     455
purchase of a car                           455
university education                        446
to get a supplementary education            444
education                                   442
getting an education                        440
profile education                           432
getting higher education                    425
to become educated                          408
Name: purpose, dtype: int64
Source word - property, after stemming - properti
Source word - university, after stemming - univers
Source word - education, after stemming - educ
Source word - car, after stemming - car
Number of duplicates after categorizing: 334
real estate    10751
own a car       4279
education       3988
wedding         2313
Name: purpose, dtype: int64
The final num of duplicates after categorising and droping: 0

### Conclusion

There were same persons who appeared with Upper and Lower cases at the 'education' column, 
then there were also same persons who apperared at the 'purpose' column with the same purpose but registered under different topic, for example person who's purpose was to get married could appear more than once under: wedding ceremony, having a wedding or to have a wedding.
I simplified all the topics and united all persons with the same purpose under one topic,
then I got rid of all the duplicates.

### Categorizing Data

In [5]:

# In order to find relation between marital status and repaying a loan,
# I need to group all the married persons and separate them from all the other statuses:

print(df['family_status'].value_counts())

def married_or_not(status):
    if status == 'married':
        return 'yes'
    else:
        return 'No'
    
df['married'] = df['family_status'].apply(married_or_not) 

# In order to find the relation between income level and repaying a loan, 
# I need first to categorize income:

print(df['total_income'].describe())

def cat_income(income):
    if income < 17080:
        return 'low income'
    elif income > 17080 and income < 23202.87:
        return 'above low income'
    elif income == 23202.87:
        return 'median income'
    elif income > 23202.87 and income < 31518:
        return 'above median income'
    elif income > 31518:
        return 'high income'  
df['class_income'] = df['total_income'].apply(cat_income)    

print(df)

married              11998
civil partnership     4107
unmarried             2770
divorced              1187
widow / widower        935
Name: family_status, dtype: int64
count     20997.000000
mean      26491.489117
std       15822.734584
min        3306.762000
25%       17078.015000
50%       23202.870000
75%       31517.406000
max      362496.645000
Name: total_income, dtype: float64
       children  days_employed  dob_years            education  education_id  \
0             1   -8437.673028         42    bachelor's degree             0
1             1   -4024.803754         36  secondary education             1
2             0   -5623.422610         33  secondary education             1
3             3   -4124.747207         32  secondary education             1
4             0  340266.072047         53  secondary education             1
...         ...            ...        ...                  ...           ...
20992         1   -4529.316663         43  secondary education             1
20993         0  343937.404131         67  secondary education             1
20994         1   -2113.346888         38  secondary education             1
20995         3   -3112.481705         38  secondary education             1
20996         2   -1984.507589         40  secondary education             1

           family_status  family_status_id gender income_type  debt  \
0                married                 0      F    employee     0
1                married                 0      F    employee     0
2                married                 0      M    employee     0
3                married                 0      M    employee     0
4      civil partnership                 1      F     retiree     0
...                  ...               ...    ...         ...   ...
20992  civil partnership                 1      F    business     0
20993            married                 0      F     retiree     0
20994  civil partnership                 1      M    employee     1
20995            married                 0      M    employee     1
20996            married                 0      F    employee     0

       total_income      purpose married         class_income
0         40620.102  real estate     yes          high income
1         17932.802    own a car     yes     above low income
2         23341.752  real estate     yes  above median income
3         42820.568    education     yes          high income
4         25378.572      wedding      No  above median income
...             ...          ...     ...                  ...
20992     35966.698  real estate      No          high income
20993     24959.969    own a car     yes  above median income
20994     14347.610  real estate      No           low income
20995     39054.888    own a car     yes          high income
20996     13127.587    own a car     yes           low income

[20997 rows x 14 columns]

### Conclusion

I did the necessary preparation of categorizing the data in order to answer project questions

### Step 3. Answer these questions

- Is there a relation between having kids and repaying a loan on time?

In [6]:
# I have been asked about relation between having kids and repaying a loan in general, 
# so I dont need to categorize persons by the number of their children:

with_kids = df[df['children'] > 0]

with_kids_debt = with_kids[with_kids['debt'] == 1]

with_kids_debt_percent = with_kids_debt['children'].count() / len(with_kids)

print("The percentage of people who have children and didn't repaied their loans on time: {:.1%}".format(with_kids_debt_percent))

without_kids = df[df['children'] == 0]

without_kids_debt = without_kids[without_kids['debt'] == 1]

without_kids_debt_percent = without_kids_debt['children'].count() / len(without_kids)

print("The percentage of people who haven't children and didn't repaied their loans on time: {:.1%}".format(without_kids_debt_percent))

The percentage of people who have children and didn't repaied their loans on time: 9.3%
The percentage of people who haven't children and didn't repaied their loans on time: 7.7%

### Conclusion

As we can see from the table above there is lower percent of people with debt who hasn't children,
I can assume that people with children need to spend more money because of their children and have less money left to pay their loans.



- Is there a relation between marital status and repaying a loan on time?

In [7]:
debt_married_status = df.pivot_table(index = 'married', values = 'debt', aggfunc = 'sum')

debt_married_status['total_count'] = df['married'].value_counts()

debt_married_status['debt_percentage'] = (debt_married_status['debt'] / debt_married_status['total_count'] * 100).round(decimals = 3).astype(str) + '%'

print(debt_married_status.sort_values(['debt_percentage'], ascending = False))

         debt  total_count debt_percentage
married
No        805         8999          8.945%
yes       925        11998           7.71%

### Conclusion

As we can see from the table above there is lower percent of people with debt who has married status,
so I can assume that married people are more responsible committed persons to pay their debts.

- Is there a relation between income level and repaying a loan on time?

In [8]:
debt_by_income = df.pivot_table(index = 'class_income', values = 'debt', aggfunc = 'sum')

debt_by_income['total_count'] = df['class_income'].value_counts()

debt_by_income['debt_percentage'] = (debt_by_income['debt'] / debt_by_income['total_count'] * 100).round(decimals = 3).astype(str) + '%'

print(debt_by_income.sort_values(['debt_percentage'], ascending = False))

                     debt  total_count debt_percentage
class_income
median income         168         1758          9.556%
above median income   388         4371          8.877%
above low income      384         4369          8.789%
low income            416         5250          7.924%
high income           374         5249          7.125%

### Conclusion

As we can see from the table above there is positive relation between income level and repaying a loan only for persons who are at the high income level. The people with high income have the smallest debt percent, all other income categories are mixed up and have no relation between income level and repaying a loan.

- How do different loan purposes affect on-time repayment of the loan?

In [9]:
loan_purpose = df.pivot_table(index = 'purpose', values = 'debt', aggfunc = 'sum')

loan_purpose['total_count'] = df['purpose'].value_counts()

loan_purpose['debt_percentage'] = (loan_purpose['debt'] / loan_purpose['total_count'] * 100).round(decimals = 3).astype(str) + '%'

print(loan_purpose.sort_values(['debt_percentage'], ascending = False))

             debt  total_count debt_percentage
purpose
own a car     399         4245          9.399%
education     369         3939          9.368%
wedding       183         2295          7.974%
real estate   779        10518          7.406%

### Conclusion

As we can see from the table above people who take loan for real estate purpose take mach seriously their obligation and pay their loans on time, I can asume that most of them are grown people and have stable income unlike students that are mostly young and having more trouble to pay their debts.

### Step 4. General conclusion

As if I was a bank manager who incharge to permite loans for his clients, this research gives me the probability of a potential borrower to repay their loan and make the decision much easier when it lands on facts. I feel that I provided useful and important information.

### Project Readiness Checklist

Put 'x' in the completed points. Then press Shift + Enter.

- [x]  file open;
- [x]  file examined;
- [x]  missing values defined;
- [x]  missing values are filled;
- [x]  an explanation of which missing value types were detected;
- [x]  explanation for the possible causes of missing values;
- [x]  an explanation of how the blanks are filled;
- [x]  replaced the real data type with an integer;
- [x]  an explanation of which method is used to change the data type and why;
- [x]  duplicates deleted;
- [x]  an explanation of which method is used to find and remove duplicates;
- [x]  description of the possible reasons for the appearance of duplicates in the data;
- [x]  data is categorized;
- [x]  an explanation of the principle of data categorization;
- [x]  an answer to the question "Is there a relation between having kids and repaying a loan on time?";
- [x]  an answer to the question " Is there a relation between marital status and repaying a loan on time?";
- [x]   an answer to the question " Is there a relation between income level and repaying a loan on time?";
- [x]  an answer to the question " How do different loan purposes affect on-time repayment of the loan?"
- [x]  conclusions are present on each stage;
- [x]  a general conclusion is made.